<?xml version="1.0" encoding="UTF-8" ?>

<!-- 我听用户 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WT_USER">
  <!-- 对象定义:用户信息 -->
  <resultMap id="userMap" type="WtUser">
    <id      column="id"             property="userId"         jdbcType="VARCHAR"/>
    <result  column="userName"       property="userName"       jdbcType="VARCHAR"/>
    <result  column="userNum"        property="userNum"        jdbcType="VARCHAR"/>
    <result  column="loginName"      property="loginName"      jdbcType="VARCHAR"/>
    <result  column="nickName"       property="nickName"       jdbcType="VARCHAR"/>
    <result  column="userSign"       property="userSign"       jdbcType="VARCHAR"/>
    <result  column="password"       property="password"       jdbcType="VARCHAR"/>
    <result  column="mainPhoneNum"   property="mainPhoneNum"   jdbcType="VARCHAR"/>
    <result  column="phoneNumIsPub"  property="phoneNumIsPub"  jdbcType="INTEGER"/>
    <result  column="mailAddress"    property="mailAddress"    jdbcType="VARCHAR"/>
    <result  column="birthday"       property="birthday"       jdbcType="TIMESTAMP"/>
    <result  column="starSign"       property="starSign"       jdbcType="VARCHAR"/>
    <result  column="userType"       property="userType"       jdbcType="INTEGER"/>
    <result  column="userClass"      property="userClass"      jdbcType="INTEGER"/>
    <result  column="userState"      property="userState"      jdbcType="INTEGER"/>
    <result  column="portraitBig"    property="portraitBig"    jdbcType="VARCHAR"/>
    <result  column="portraitMini"   property="portraitMini"   jdbcType="VARCHAR"/>
    <result  column="homepage"       property="homepage"       jdbcType="VARCHAR"/>
    <result  column="descn"          property="descn"          jdbcType="VARCHAR"/>
    <result  column="cTime"          property="CTime"          jdbcType="TIMESTAMP"/>
    <result  column="lmTime"         property="lmTime"         jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, loginName, userName, userNum, password, mainPhoneNum, phoneNumIsPub, mailAddress, userType, userState, portraitBig, portraitMini, descn, cTime, lmTime
  </sql>
  <sql id="Base_Column_List_A">
    a.id, a.loginName, a.userName, a.userNum, a.password, a.mainPhoneNum, a.phoneNumIsPub, a.mailAddress, a.userType, a.userState, a.portraitBig, a.portraitMini, a.descn, a.cTime, a.lmTime
  </sql>

  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="userId!=null"> and id=#{userId,jdbcType=VARCHAR}</if>
        <if test="userName!=null"> and userName=#{userName,jdbcType=VARCHAR}</if>
        <if test="userNum!=null"> and userNum=#{userNum,jdbcType=VARCHAR}</if>
        <if test="loginName!=null"> and loginName=#{loginName,jdbcType=VARCHAR}</if>
        <if test="nickName!=null"> and nickName=#{nickName,jdbcType=VARCHAR}</if>
        <if test="userSign!=null"> and userSign=#{userSign,jdbcType=VARCHAR}</if>
        <if test="password!=null"> and password=#{password,jdbcType=VARCHAR}</if>
        <if test="mainPhoneNum!=null"> and mainPhoneNum=#{mainPhoneNum,jdbcType=VARCHAR}</if>
        <if test="phoneNumIsPub!=null"> and phoneNumIsPub=#{phoneNumIsPub,jdbcType=INTEGER}</if>
        <if test="mailAddress!=null"> and mailAddress=#{mailAddress,jdbcType=VARCHAR}</if>
        <if test="birthday!=null"> and birthday=#{birthday,jdbcType=TIMESTAMP}</if>
        <if test="starSign!=null"> and starSign=#{starSign,jdbcType=VARCHAR}</if>
        <if test="userType!=null"> and userType=#{userType,jdbcType=INTEGER}</if>
        <if test="userClass!=null"> and userClass=#{userClass,jdbcType=INTEGER}</if>
        <if test="userState!=null"> and userState=#{userState,jdbcType=INTEGER}</if>
        <if test="portraitBig!=null"> and portraitBig=#{portraitBig,jdbcType=VARCHAR}</if>
        <if test="portraitMini!=null"> and portraitMini=#{portraitMini,jdbcType=VARCHAR}</if>
        <if test="homepage!=null"> and homepage=#{homepage,jdbcType=INTEGER}</if>
        <if test="descn!=null"> and descn=#{descn,jdbcType=VARCHAR}</if>
        <if test="CTime!=null"> and cTime=#{CTime,jdbcType=TIMESTAMP}</if>
        <if test="lmTime!=null"> and lmTime=#{lmTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>

  <!-- 获得记录条数-->
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from plat_User <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <!-- 获得列表 -->
  <select id="getList" resultMap="userMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from plat_User
    <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
    <if test="orderByClause!=null">order by ${orderByClause}</if>
  </select>
  <select id="getListByWhere" resultMap="userMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from plat_User
    <if test="whereByClause!=null">where ${whereByClause}</if>
    <if test="orderByClause!=null">order by ${orderByClause}</if>
  </select>
  <!-- 获得好友列表 -->
  <select id="getFriends" resultMap="userMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List_A"/> from plat_User a, vWt_Friend_Rel b
    where a.id=b.bUserId and b.aUserId='${userId}'
    order by b.inviteTime desc
    <if test="orderByClause!=null">order by ${orderByClause}</if>
  </select>
  <!-- 获得陌生人列表 -->
  <select id="getStrangers" resultMap="userMap" parameterType="java.util.Map">
  select * from (
    select <include refid="Base_Column_List_A"/> from plat_User a
    left join (select distinct aUserId from vWt_Friend_Rel) b on a.id=b.aUserId
    where a.id!='${userId}' and b.aUserId is null and (
         a.loginName like '%${searchStr}%'
      or a.userNum   like '%${searchStr}%'
      or a.userName  like '%${searchStr}%'
      or a.nickName  like '%${searchStr}%'
      or a.userSign  like '%${searchStr}%'
      or (a.phoneNumIsPub=1 and a.mainPhoneNum like '%${searchStr}%')
    )
  ) c
  order by c.nickName, c.userName, c.loginName
  </select>
  <select id="getMembers" resultMap="userMap" parameterType="java.lang.String">
    select * from plat_User where id in (${value})
  </select>
  <select id="getGroupMembers" resultMap="userMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List_A"/> from plat_User a, plat_GroupUser b where a.id=b.userId and b.groupId=#{value, jdbcType=VARCHAR}
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" resultMap="userMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from plat_User <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <select id="getUserById" resultMap="userMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from plat_User where id=#{userId,jdbcType=VARCHAR}
  </select>
  <select id="getUserByLoginName" resultMap="userMap" parameterType="java.lang.String">
    select * from plat_User where loginName=#{loginName,jdbcType=VARCHAR}
  </select>
  <select id="getUserByNum" resultMap="userMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from plat_User where userNum=#{userNum,jdbcType=VARCHAR}
  </select>
  <select id="getUserByPhoneNum" resultMap="userMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from plat_User where mainPhoneNum=#{mainPhoneNum,jdbcType=VARCHAR}
  </select>

  <!-- 得到组内用户列表-->
  <select id="getListUserInGroup" resultMap="userMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List_A"/> from plat_User a, plat_GroupUser b where a.id=b.userId and b.groupId=#{groupId,jdbcType=VARCHAR}
  </select>
  <!-- 得到所有组内用户列表-->
  <select id="getAllUserInGroup" resultType="java.util.HashMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List_A"/>, b.groupId from plat_User a, plat_GroupUser b where a.id=b.userId
    order by b.groupId
  </select>
</mapper>